
#explore {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  background-color: black;
  color: white;
}

#norender-info {
  flex: 1 1 auto;
}

#render-component-socket {
  flex: 1 1 auto;
  display: flex;
}

.node-key-and-ipfs {
  padding: 10px;
}
