body {
  height: 100%;
  margin: 0px;
  font-family: Verdana,sans-serif;
}

.good, .warn, .error {
  padding: 10px;
}

.good {
  background-color: #00cc00;
}

.warn {
  background-color: #cc7500;
}

.error {
  background-color: #cc0000;
}

.center {
  text-align: center;
}
