#navbar {
  padding: 8px;
  margin: 0px;
  flex: 0 1 auto;
  background-image: linear-gradient(to bottom, #dddddd, #999999);
  border-bottom: 2px solid grey;
  text-align: center;
}

#navbar .navbar-button {
  width: 80px;
  height: 50px;
  border-radius: 15px;
  background-color: white;
}
