
#render {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  background-color: black;
  color: white;
}

#norender-info {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

.node-file-text {
  flex: 1 1 auto;
  background-color: black;
  color: white;
  font-size: 2em;
  border: 0px;
}
