#simple-text-explore {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

#simple-text-explore h1 {
  text-align: center;
}

#simple-text-explore .console {
  flex: 1 1 auto;
  background-color: black;
  color: white;
  font-size: 1.7em;
  padding: 5px;
  border: 0px;
  border-top: 1px solid white;
}
