#simple-text-explore {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  font-family: monospace;
  background-color: #1c5f98;
  color: white;
}

#simple-text-explore h1 {
  text-align: center;
  color: white;
}

#simple-text-explore .console {
  flex: 1 1 auto;
  background-color: #00335f;
  color: white;
  font-size: 1.7em;
  line-height: 1.85em;
  padding: 10px;
  border: 0px;
  /*border-top: 1px solid white;*/
  resize: none;
}

#simple-text-explore .console:focus {
  outline-width: 0;
}

#simple-text-explore #console-input-area {
  display: flex;
  /*border-top: 1px solid white;*/
}

#simple-text-explore #prompt {
  font-size: 1.7em;
  padding: 10px;
  color: white; /*#009900;*/
}

#simple-text-explore #console-input {
  font-size: 1.7em;
  width: 100%;
  background-color: #1c5f98;
  color: white;
  padding: 10px;
  padding-left: 0px;
  border: 0px;
  font-family: monospace;
}

#simple-text-explore #console-input:focus {
  outline-width: 0;
}

#simple-text-build .tag-holder {
  display: inline-block;
}

#simple-text-build .tag {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
}

#simple-text-build .verb-tag {
  background-color: pink;
  border: 1px solid red;
}

#simple-text-build .target-tag {
  background-color: lightgreen;
  border: 1px solid green;
}

#simple-text-build .result-tag {
  background-color: lightblue;
  border: 1px solid blue;
}

#simple-text-build .edge-tag {
  background-color: #ff88ff;
  border: 1px solid purple;
}

#simple-text-build textarea {
  width: 400px;
  height: 140px;
}
