body {
  height: 100%;
  margin: 0px;
  font-family: Verdana,sans-serif;
}


.navbar-button {
  width: 80px;
  height: 50px;
  border-radius: 15px;
  background-color: white;
}

.edge-button {
  display: inline-block;
}



#status-build {
  float: right;
}

.good {
  background-color: #00cc00;
}

.warn {
  background-color: #cc7500;
}

.error {
  background-color: #cc0000;
}

.center {
  text-align: center;
}

.x {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#info-modal {
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
