<html>
  <head>
    <meta charset="UTF-8">
    <title>Interweave Network</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"></script>
    <script src="src/js/web3Handler.js"></script>
    <script src="src/js/contractHandler.js"></script>
    <script src="src/js/sethash-app.js"></script>
    <link rel="stylesheet" href="src/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="assets/icon-32x32.png"/>
  </head>
  <body>
    <div id="interweave-app">
      <p id="status" v-bind:class="statusCol">{{status()}}</p>
      <h2 class="center">Set Hash</h2>
      <p class="center">A simple practice dapp that lets you link an IPFS hash to each of your Ethereum addresses. Free except for gas.</p>
      <p class="center">The real Interweave Network site is coming soon.</p>
      <div id="viewables" v-if="contractReady">
        <div id="account-available" v-if="accountAvailable">
          <p v-if="value !== ''">IPFS hash linked to your address {{account}}</p>
          <p v-if="value === ''">Your address {{account}} has no IPFS hash linked.</p>
          <h3><a target="_blank" v-if="value !== ''" v-bind:href="'https://ipfs.io/ipfs/' + value">{{value}}</a></h3>
          <input type="text" v-model="formInput" v-if="!transactionInProgress" maxlength="46" size="46"></input>
          <button v-on:click="callSet" v-if="!transactionInProgress">Save {{value !== '' ? 'new ' : ''}}hash!</button>
          <button v-on:click="getEvents" v-if="value !== ''">See all changes for this address</button>
        </div>
        <div id="nondapp" v-if="browserType === 'nondapp' || !loggedIn">
          <p>Get IPFS hash for address <input type="text" size="50" v-model="enteredAccount" v-on:change="callGet"></input></p>
          <h3><a target="_blank" v-if="value !== ''" v-bind:href="'https://ipfs.io/ipfs/' + value">{{value}}</a></h3>
          <p v-if="value === ''">(no hash set)</p>
        </div>
        <div id="events" v-if="eventsWindowOpen && events !== undefined">
          <button class="x" v-on:click="closeEventsWindow">X</button>
          <span v-if="events.length === 0">No changes recorded.</span>
          <ol>
            <li v-for="event in events">Block {{event.block}}: <code>{{event.hash}}</code></li>
          </ol>
        </div>
        <div id="transaction" v-if="setTxHash !== undefined" v-bind:class="setConfirmations < 1 ? (setError === undefined ? 'warn' : 'error') : 'good'">
          <hr>
          <button class="x" v-on:click="closeTxWindow">X</button>
          <p>
            You have submitted a
            <a target="_blank" v-bind:href="'https://' + (network === 'mainnet' ? '' : network + '.') + 'etherscan.io/tx/' + setTxHash">transaction</a>
            to change your linked IPFS hash to {{formInput}}.
          </p>
          <p>
            It
            <span v-if="setConfirmations < 1 && setError === undefined"> is awaiting confirmation.</span>
            <span v-if="setConfirmations > 0"> has been confirmed with {{setConfirmations + (setConfirmations === 24 ? '+' : '')}} block confirmations!</span>
            <span v-if="setError !== undefined"> failed due to an error. Check the tx link above or MetaMask for details.</span>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
